{% extends 'base.html' %} {% block content %}

<style>
  .card-img-top {
    max-height: 200px;
    object-fit: cover;
  }
</style>

<section class="container mt-4">
  <h2 class="mb-4">All Foods</h2>
  <div class="row">
    {% for food in food_list %}
    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
      <div class="card">
        <img
          src="{{ food.image_url }}"
          class="card-img-top"
          alt="{{ food.name }}"
        />
        <div class="card-body">
          <h5 class="card-title">{{ food.name }}</h5>
          <a href="{% url 'food_detail' food.id %}" class="btn btn-primary"
            >Details</a
          >
        </div>
      </div>
    </div>
    {% empty %}
    <div class="col-12">
      <h4 class="text-center">No Foods</h4>
    {% endfor %}
  </div>
</section>

{% endblock %}
