{% extends 'base.html' %} {% block content %}

<section class="container mt-4">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h1 class="mb-4">Welcome to Finch Collector!</h1>
      <p>
        Experience the joy of caring for finches at our virtual sanctuary. At
        Finch Collector, you're not just a visitor – you're part of the flock.
      </p>
      <p>
        Discover a world of diverse finch species from around the globe. Share
        your love for these charming birds by adding new finches to our
        collection, feeding them, and providing playful toys to keep them
        entertained.
      </p>
      <p>
        Explore our virtual aviary and learn about the unique characteristics,
        habitats, and behaviors of each finch species. Whether you're a bird
        enthusiast or a curious explorer, Finch Collector offers an immersive
        experience for all.
      </p>
      <p>
        Join our passionate community of fellow finch lovers as we nurture and
        celebrate the beauty of these feathered companions. Together, we create
        a haven where finches thrive and flourish.
      </p>
      <p>
        Start your journey with Finch Collector today – your gateway to the
        enchanting world of finches!
      </p>
    </div>
  </div>
</section>

{% endblock %}
